/* Custom Colors & Global Settings */
.root {
    -fx-font-family: "Inter";
    -fx-background-color: #f7f9fc;
}

/* Sidebar & Containers */
.sidebar {
    -fx-background-color: #f2f4f7;
    -fx-padding: 40 20 20 20;
}

.card {
    -fx-background-color: white;
    -fx-background-radius: 12;
    -fx-padding: 24;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 10, 0, 0, 4);
}

/* Typography */
.header-title {
    -fx-font-family: "Manrope";
    -fx-font-size: 36px;
    -fx-font-weight: 800;
    -fx-text-fill: #191c1e;
}

.section-label {
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-text-fill: #0048d8;
    -fx-letter-spacing: 2px;
}

.input-label {
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-text-fill: #767683;
}



/* --- Primary Button --- */
.btn-primary {
    -fx-background-color: linear-gradient(to bottom right, #000666, #1a237e);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-padding: 12 24;
    -fx-cursor: hand;
    /* Smooth transition feel */
    -fx-transition: all 0.2s ease-in-out; 
}

.btn-primary:hover {
    /* Slight lighten effect and lift */
    -fx-background-color: linear-gradient(to bottom right, #1a237e, #343d96);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 6, 102, 0.3), 10, 0, 0, 4);
}

.btn-primary:pressed {
    /* "Click" down effect */
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

/* --- Secondary Button --- */
.btn-secondary {
    -fx-background-color: transparent;
    -fx-text-fill: #0048d8;
    -fx-font-weight: bold;
    -fx-padding: 12 24;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

.btn-secondary:hover {
    /* Matches the HTML's "hover:bg-surface-container-high" */
    -fx-background-color: #e6e8eb; 
    -fx-text-fill: #003ab3;
}

.btn-secondary:pressed {
    -fx-background-color: #d8dadd;
    -fx-scale-x: 0.98;
}

.image-placeholder {
    -fx-border-color: #c6c5d4;
    -fx-border-style: dashed;
    -fx-border-width: 2;
    -fx-border-radius: 8;
    -fx-background-color: #f7f9fc;
}

.text-field-modern,
.text-area-modern,
.combo-box-modern,
.date-picker-modern,
.input-wrapper {
    -fx-min-height: 40px;
    -fx-pref-width: 2000px; /* Force it to try and fill the space */
    -fx-background-insets: 0;
    -fx-padding: 0 10 0 10; /* Adjust top right bottom left */
    -fx-background-color: #ffffff;
    -fx-border-color: #d9dde3;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    
}

.text-field:focused {
    -fx-border-color: #0048d8;
    -fx-border-width: 2;
}
.text-area:focused {
    -fx-border-color: #0048d8;
    -fx-border-width: 2;
}